---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/323037/historical/24?apikey=secret_api_key
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '48'
      Akamai-Grn:
      - 0.efaa2617.1660978766.7de495a3
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-08-20T08:57:00+03:00","EpochTime":1660975020,"WeatherText":"Partly
        sunny","WeatherIcon":3,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":23.9,"Unit":"C","UnitType":17},"Imperial":{"Value":75.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ua/mariupol/323037/current-weather/323037?lang=en-us","Link":"http://www.accuweather.com/en/ua/mariupol/323037/current-weather/323037?lang=en-us"},{"LocalObservationDateTime":"2022-08-20T07:57:00+03:00","EpochTime":1660971420,"WeatherText":"Partly
        sunny","WeatherIcon":3,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":23.7,"Unit":"C","UnitType":17},"Imperial":{"Value":75.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ua/mariupol/323037/current-weather/323037?lang=en-us","[...]
