---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/323037/historical/24?apikey=secret_api_key
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '48'
      Akamai-Grn:
      - 0.d168dc17.1660728664.4486805f
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-08-17T11:57:00+03:00","EpochTime":1660726620,"WeatherText":"Mostly
        sunny","WeatherIcon":2,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":27.9,"Unit":"C","UnitType":17},"Imperial":{"Value":82.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ua/mariupol/323037/current-weather/323037?lang=en-us","Link":"http://www.accuweather.com/en/ua/mariupol/323037/current-weather/323037?lang=en-us"},{"LocalObservationDateTime":"2022-08-17T10:58:00+03:00","EpochTime":1660723080,"WeatherText":"Mostly
        sunny","WeatherIcon":2,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":27.1,"Unit":"C","UnitType":17},"Imperial":{"Value":81.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ua/mariupol/323037/current-weather/323037?lang=en-us","[...]
