---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/locations/v1/cities/search?apikey=secret_api_key&q=Mariupol
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Akamai-Grn:
      - 0.bff93017.1660978726.cb49cdf7
    body:
      encoding: UTF-8
      string: '[{"Version":1,"Key":"323037","Type":"City","Rank":35,"LocalizedName":"Mariupol","EnglishName":"Mariupol","PrimaryPostalCode":"","Region":{"ID":"EUR","LocalizedName":"Europe","EnglishName":"Europe"},"Country":{"ID":"UA","LocalizedName":"Ukraine","EnglishName":"Ukraine"},"AdministrativeArea":{"ID":"14","LocalizedName":"Donets''k","EnglishName":"Donets''k","Level":1,"LocalizedType":"Province","EnglishType":"Province","CountryID":"UA"},"TimeZone":{"Code":"EEST","Name":"Europe/Kiev","GmtOffset":3.0,"IsDaylightSaving":true,"NextOffsetChange":"2022-10-30T01:00:00Z"},"GeoPosition":{"Latitude":47.096,"Longitude":37.55,"Elevation":{"Metric":{"Value":69.0,"Unit":"m","UnitType":5},"Imperial":{"Value":226.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"SupplementalAdminAreas":[],"DataSets":["AirQualityCurrentConditions","AirQualityForecasts","DailyPollenForecast","ForecastConfidence","FutureRadar","MinuteCast"]}]'
  recorded_at: Sat, 20 Aug 2022 06:58:47 GMT
recorded_with: VCR 6.1.0
