---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/323037/historical/24?apikey=secret_api_key
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '31'
      Akamai-Grn:
      - 0.c968dc17.1661152492.70e47291
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-08-22T09:57:00+03:00","EpochTime":1661151420,"WeatherText":"Mostly
        sunny","WeatherIcon":2,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":24.7,"Unit":"C","UnitType":17},"Imperial":{"Value":76.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ua/mariupol/323037/current-weather/323037?lang=en-us","Link":"http://www.accuweather.com/en/ua/mariupol/323037/current-weather/323037?lang=en-us"},{"LocalObservationDateTime":"2022-08-22T08:57:00+03:00","EpochTime":1661147820,"WeatherText":"Mostly
        sunny","WeatherIcon":2,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":24.2,"Unit":"C","UnitType":17},"Imperial":{"Value":76.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ua/mariupol/323037/current-weather/323037?lang=en-us","[...]
